
@code {

    [Parameter]
    public AuthenticationResult Token { get; set; }

}

<h2>Token for: @this?.Token?.IdTokenClaims["name"]</h2>
<ul>
    <li>Account Name: @this.Token.Account.Name</li>
    <li>Account Username: @this.Token.Account.UserName</li>
    <li>Authority: @this.Token.Authority</li>
    <li>Expires On: @this.Token.ExpiresOn</li>
    <li>Scopes: @string.Join(", ", this.Token.Scopes)</li>
    <li>Access Token: @this.Token.AccessToken</li>
    <li>Id Token: @this.Token.IdToken</li>
</ul>